<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white top-nav">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/"><img src="images/logo.svg" alt="Olycap"></a>

        <!-- Left links -->
  
        <!-- button -->
          <button class="btn btn-primary text-capitalize text-white" type="button">
            logout
          </button> 
        
      </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
