<section class="welcome">
    <div class="container">
        <div class="text-center">
            <p class="fs-24 fw-400 text-white text-capitalize ls-1">Welcome to the <span class="fw-700">OlyCAP</span>
            </p>
            <h1 class="text-white hero-heading ls-1">Energy Assistance Appointment Scheduler</h1>
        </div>

    </div>
</section>

<section class="appointment-block">
    <div class="container">
        <div class="row g-lg-5 g-md-4 g-3">
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a href="#!">
                    <div class="appointment-col">
                        <div class="appoint-content text-center text-white h-100 bgcol-hover">
                            <img src="icons/upcoming-appointment.svg" alt="Upcoming Appointment">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Upcoming Appointments</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">View/Cancel upcoming appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a (click)="navigateToScheduleAppointment()">
                    <div class="appointment-col">
                        <div class="appoint-content text-center text-white h-100 bgcol-hover">
                            <img src="icons/schedule-appointment.svg" alt="Schedule Appointment">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Schedule An Appointment</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">Schedule your appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a href="#!">
                    <div class="appointment-col">
                        <div class="appoint-content text-center text-white h-100 bgcol-hover">
                            <img src="icons/upload-document.svg" alt="Upload Document">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Upload Documents</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">Upload documents for your upcoming appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a href="#!">
                    <div class="appointment-col">
                        <div class="appoint-content text-center text-white h-100 bgcol-hover">
                            <img src="icons/intake-form.svg" alt="Complete Intake Form">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Complete Intake Form</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">View/Cancel upcoming appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a href="#!">
                    <div class="appointment-col">
                        <div class="appoint-content text-center text-white h-100 bgcol-hover">
                            <img src="icons/complete-survey.svg" alt="Complete Survey">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Complete Survey</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">Schedule your appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-4 mb-lg-5 mb-md-4 mb-3">
                <a href="#!">
                    <div class="appointment-col bgcol-hover">
                        <div class="appoint-content text-center text-white h-100">
                            <img src="icons/test-icon.svg" alt="Test">
                            <h2 class="fw-700 fs-20 ls-1 mt-4">Test</h2>
                            <p class="fw-400 fs-20 ls-1 mt-4">Upload documents for your upcoming appointments here</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="main-imp-notice-container">
    <div class="container">
        <div class="inner-imp-container">
            <div class="row">
                <div class="col-md-10">
                    <div class="notice-left-side">
                        <div class="notice-heading d-flex align-items-center gap-3">
                            <div class="speaker-icon">
                                <img src="images/speaker-icon.svg" alt="icon">
                            </div>
                            <h6 class="warning-text text-uppercase mb-0">
                                Important Message
                            </h6>
                        </div>
                        <div class="notice-text lh-sm">
                            <p>Thank you for visiting the CAA of South Alabama Online Appointment Scheduler to schedule
                                an appointment for assistance. CAAofSA operates various utility assistance programs,
                                including LIHEAP Crisis and LIHEAP Subsidy.</p>

                            <p>Applications for assistance will be accepted by appointment only and are dependent on the
                                availability of funds. Applicants must be a resident of Baldwin, Escambia, Clark,
                                Monroe, Conecuh, Wilcox, or Marengo County. To receive assistance, you must provide the
                                required documentation for and meet the income guidelines for each specific program.</p>

                            <p>On the day of your appointment, please arrive at the center a few minutes before your
                                appointment time. When you arrive, call the main number of that center and a staff
                                member will come outside to greet you and let you inside to begin processing your
                                application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="notice-img ms-auto">
                        <img src="images/notice-img.png" alt="noticeImg" class="w-100 h-100 object-fit-cover">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-docs-container">
    <div class="container">
        <div class="inner-docs-container">
            <div class="docs-main-heading box-shadow-2">
                <h6 class="mb-0 text-black">Scheduler Notes</h6>
            </div>
            <div class="docs-text">
                <p class="mt-3">Scheduler Notes content goes here</p>
            </div>
            <div class="docs-main-heading box-shadow-2">
                <h6 class="mb-0 text-black">List of Common Docs Required</h6>
            </div>
            <div class="docs-text ps-5">
                <p class="warning-text mt-4">Failure to provide all required documentation will delay your assistance.
                </p>
                <ol class="docs-list mt-4">
                    <li>Social Security card(s) or official documentation with Social Security numbers (or Permanent
                        Resident/Green Card) for everyone living in the household.</li>
                    <li>Most recent utility bill, which could include any disconnect or past due notices, or
                        verification from your landlord that heating expenses are included in your rent. You may also
                        bring an eviction notice, if utilities are included in your monthly rent. Please note that a
                        disconnect, past due or eviction notice is not always required; our staff will conduct a full
                        assessment of your household's needs and match them to the services that are available at the
                        time of your appointment. If you are applying for wood, coal, propane or kerosene, you need to
                        bring a utility bill to verify your service address. If you participate in the Pre-Pay Electric
                        Program, please present the statement from the utility company and include the account number,
                        address and name on the account for all heating fuel sources and electric. If you do not have
                        electric service, you must bring a piece of unopened first-class mail to verify your service
                        address</li>
                    <li>
                        <span class="fw-700">Proof of household income from the previous month or proof of zero income;
                            for example:</span>
                        <ol class="sub-ol">
                            <li>Check stubs (MUST have all check stubs showing pay dates and gross income for the
                                calendar month prior to your appointment date and verification that you did not receive
                                the maximum number of checks issued by your employer)</li>
                            <li>OR, Current SSI/Social Security Award letter or Current Food Stamp Award letter</li>
                            <li>OR, Unemployment Check Stubs</li>
                        </ol>
                    </li>
                    <li>Proof of ID</li>
                    <li>Examples of items which cannot be accepted are previous LIHEAP applications, bank statements,
                        copies of benefit checks, and 1099 tax forms. We cannot accept K-TAP letters or Medical Coverage
                        Letters as proof of other income.</li>
                </ol>

            </div>
            <div class="docs-main-heading box-shadow-2">
                <h6 class="mb-0 text-black">Income Guidelines</h6>
            </div>
            <div class="docs-table">
                <h6 class="primary-color fw-500 fs-20 ls-1">2022-2023 LIHEAP Income Eligibility Guidelines</h6>
                <table class="w-100">

                    <thead>
                        <tr>
                            <th>Household Size</th>
                            <th>Monthly Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>$1,580</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>$2,137</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>$2,694</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>$3,250</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>$3,807</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>$4,364</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>$4,921</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>$5,478</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fs-18 text-center liheap">The gross household monthly income for LIHEAP Subsidy must be at
                    <span class="fw-700">130% of poverty</span>. For each
                    additional household member <br> above 8, add <span class="fw-700">$557.00</span> to the monthly
                    income limit.
                </p>
            </div>
            <div class="docs-main-heading ofc-location box-shadow-2">
                <h6 class="mb-0 text-black">OlyCAP Office Locations</h6>
            </div>
            <div class="docs-text ps-5">
                <ol class="docs-list mt-4">
                    <li>
                        <h6 class="text-uppercase fs-22 fw-700">PORT ANGELES OFFICE</h6>
                        <p class="mb-0">228 W 1st St, Suite J, Port Angeles WA, 98362</p>
                    </li>
                    <li>
                        <h6 class="text-uppercase fs-22 fw-700">PORT TOWNSEND OFFICE</h6>
                        <p class="mb-0">823 Commerce Loop, Port Townsend, WA 98368</p>
                    </li>
                    <li>
                        <h6 class="text-uppercase fs-22 fw-700">FORKS OFFICE</h6>
                        <p class="mb-0">71 N Spartan Ave # 2,Forks, WA 98331</p>
                    </li>
                    <li>Within minutes of making your appointment, you should receive a confirmation email with a
                        calendar appointment attached to the email. In addition, you will also receive a phone reminder
                        before your appointment.
                    </li>
                    <li>Appointments can be changed or canceled at any time on this website. You can also make or cancel
                        an appointment at any time (24/7) using our automated phone system by dialing (360) 774-5225 and
                        following the instructions.</li>
                </ol>

            </div>

            <div class="docs-main-heading box-shadow-2">
                <h6 class="mb-0 text-black">Additional Notes</h6>
            </div>
            <div class="docs-text">
                <p class="mt-3">Additional Notes content goes here</p>
            </div>
        </div>
    </div>
</section>