<div class="row gx-sm-5 gx-3 custom-form-pad custom-tb-border mx-0">
    <div class="col-md-12 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Identity Type</label>
        <div class="input-parent position-relative">
            <select class="custom-input w-100 has-icon select-arrow position-relative">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <img class="position-absolute input-icon arrow-icon" src="icons/select-arrow.svg"
                alt="Arrow Down">
        </div>
    </div>
    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Identity</label>


        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="Enter Details"
                required>
            <img class="position-absolute input-icon" src="icons/encrypted.svg" alt="">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2 visibility-hidden">Identity</label>

        <a class="btn verify-btn text-white w-100" href="#!">Verify Identity</a>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">First Name</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="First Name"
                required>
            <img class="position-absolute input-icon" src="icons/first-name-icon.svg"
                alt="Distance">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Last Name</label>


        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="Last Name"
                required>
            <img class="position-absolute input-icon" src="icons/last-name-icon.svg" alt="Distance">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Contact Phone</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="Contact Phone"
                required>
            <img class="position-absolute input-icon" src="icons/call-icon.svg" alt="Call">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">E-mail</label>


        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative"
                placeholder="Johndoe@example.com" required>
            <img class="position-absolute input-icon" src="icons/mail-icon.svg" alt="Mail">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Address</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="Address"
                required>
            <img class="position-absolute input-icon" src="icons/home-icon.svg" alt="Home">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">City</label>


        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon position-relative" placeholder="City"
                required>
            <img class="position-absolute input-icon" src="icons/city-icon.svg" alt="City">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Please select your utility provider</label>
        <div class="input-parent position-relative">
            <select class="custom-input w-100 has-icon select-arrow position-relative">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <img class="position-absolute input-icon arrow-icon" src="icons/select-arrow.svg"
                alt="Arrow Down">
        </div>

    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Zip Code</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon info-icon position-relative"
                placeholder="City" required>
            <img class="position-absolute input-icon" src="icons/print-icon.svg" alt="">
        </div>

    </div>

    <div class="col-md-12 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Do you need to talk with our Spanish speaking
            staff?</label>
        <div class="input-parent position-relative">
            <select class="custom-input w-100 has-icon select-arrow position-relative">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <img class="position-absolute input-icon arrow-icon" src="icons/select-arrow.svg"
                alt="Arrow Down">
        </div>

    </div>

</div>