<div class="row gx-sm-5 gx-3 custom-form-pad custom-tb-border mx-0 appoint-verification">

    <div class="col-md-12 mb-sm-5 mb-4">
        <div class="appointment-confirmed">
            <p class="mb-0 fs-20 warning-text-color d-flex align-items-center"> <img class="img-fluid"
                    src="icons/confirmed-tick.svg" alt="Confirmed"> <span
                    class="ms-3">Congratulations! Your appointment is confirmed and appointment
                    details are as follows:</span> </p>
        </div>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2">Confirmation Number</p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label output-label">1019 </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2">Name</p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label">Test User</p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> Location </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label"> Phone Appointment </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> Service </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label"> Energy - Utility Assitance </p>
    </div>


    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> Date of Appointment </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label"> Friday, June 7,2024 </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> Time of Appointment </p>
    </div>

    <div class="col-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color output-label"> 10:00AM </p>
    </div>

    <div class="col-md-12 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> List of Docs to Provide</p>

        <div class="docs-list">
            <p class="mb-sm-5 mb-4">Along with your Application for Energy Assistance you will need
                to provide <br> the
                following documents</p>
            <ul>
                <li>Photo ID for all household members over 18. </li>
                <li>Proof of Social Security Number for all household members.</li>
                <li>Proof of income for all household members over 18 for the months prior to your
                    application.</li>
                <li>Copy of your current utility bill or proof of account number.</li>
            </ul>
        </div>

    </div>


</div>