.welcome {
    min-height: 50rem;
}


@media only screen and (max-width: 991px) {
    .welcome {
        min-height: 30rem;
    }

    .appointment-block {
        display: var(--none);
    }

    .step-form {
        margin-top: -7rem;
    }


}