<div class="calendar">

    <div class="selected-date">
        <h3 class="fw-500 fs-18">Select Date</h3>
        <div class="edit-date d-flex justify-content-between align-items-center w-100">
            <!-- <h2 class="fw-500">Fri, June 7</h2> -->
            <h2 class="fw-500">{{ selectedDate | date: 'EEE, MMMM d'}}</h2>
            <a href="#!"><img src="icons/edit.svg" alt="Edit"></a>
        </div>
    </div>

    <div class="calendar-header">
        <div>{{ months[currentMonth] }} {{ currentYear }}</div>
        <div class="d-flex">
            <button (click)="prevMonth()"><img src="icons/chevron-backward.svg" alt="Backward"> </button>
     
            <button (click)="nextMonth()"><img src="icons/chevron-forward.svg" alt="Forward"></button>
        </div>
     
    </div>
    <div class="calendar-body">
      <div class="calendar-weekdays">
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
        <div>S</div>

      </div>
      <div class="calendar-days">
        <div *ngFor="let day of days" [ngClass]="{ 'today': isToday(day),'past': isPastDate(day), 'weekend': isWeekend(day), 'selected': isSelected(day), 'empty-cell': day === 0}" (click)="selectDate(day)">
          {{ day > 0 ? day : '' }}
        </div>
      </div>
    </div>
  </div>
  