<div class="row gx-sm-5 gx-3 custom-form-pad custom-tb-border mx-0">
    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Location</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon distance-icon position-relative"
                placeholder="Phone Appointment" required>
            <img class="position-absolute input-icon" src="icons/distance.svg" alt="Distance">
        </div>
    </div>
    <div class="col-md-6 mb-sm-5 mb-4">
        <label class="custom-label w-100 mb-2">Service</label>
        <div class="input-parent position-relative">
            <input class="custom-input w-100 has-icon info-icon position-relative"
                placeholder="Energy - Utility Assitance" required>
            <img class="position-absolute input-icon" src="icons/info.svg" alt="Distance">
        </div>
    </div>
</div>