/* variables */
:root {
    --primary-font: "Roboto", sans-serif;

    --primary-color: #0185D9;
    --secondary-color: #FFB82D;
    --warning-color: #FF2D46;
    
    
    --primary-bg: #EDEDF2;
    --secondary-bg: #F7F7FB;
    --warning-bg-color:#FCE3E3;
    --warning-text-color: #414D63;
    --bs-btn-hover-bg:#5c636a;
    --bs-btn-hover-border-color:#565e64;

    --primary-rgba-color: rgba(1, 133, 217, 0.73);
    --primary-text-color:#6F6C90;

    --radius-7: 7px;
    --radius-16: 16px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --fs-12: 1.2rem;
    --fs-13: 1.3rem;
    --fs-14: 1.4rem;
    --fs-15: 1.5rem;
    --fs-16: 1.6rem;
    --fs-17: 1.7rem;
    --fs-18: 1.8rem;
    --fs-19: 1.9rem;
    --fs-20: 2.0rem;
    --fs-21: 2.1rem;
    --fs-22: 2.2rem;
    --fs-24: 2.4rem;
    --fs-64: 6.4rem;

    --lh-sm: 1;
    --lh-base: 1.2;
    --lh-normal: 1.4;
    --lh-lg: 1.6;
    --lh-xl: 1.8;


    --absolute: absolute;
    --relative: relative;
    --fixed: fixed;
    --static: static;
    --center: center;
    --top: top;
    --bottom: bottom;
    --flex: flex;
    --none: none;
    --block: block;
    --hidden: hidden;
    --inherit: inherit;
    --full: 100%;
    --hover-transition: 0.5s all;
    --no-repeat: no-repeat;
    --cover: cover;
    --contain: contain;
    --fill: fill;
    --auto: auto;
    --grid: grid;
    --zero: 0;
    --none: none;

    --bgcol-hover: #E7E7F2;
    --black: #000000;
    --white: #ffffff;

    --btn-secondary-color: #FFC046;
    --tertiary-btn: #92E16D;

} 