<div class="row gx-sm-5 gx-3 custom-form-pad custom-tb-border mx-0 appoint-verification">
    <div class="col-md-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2">Date and Time of Appointment</p>
    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color">Friday, June 7,2024 ; 10:00AM </p>
    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2">Location</p>
    </div>

    <div class="col-md-6 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2 warning-text-color">Phone Appointment</p>
    </div>

    <div class="col-md-12 mb-sm-5 mb-4">
        <p class="custom-label w-100 mb-2"> To accept this appointment and book the appointment,
            please click <span class="fw-500">“Next”</span> button. </p>
    </div>
</div>